<div class="ui segment">
    {{ form_start(form, {'action': path(configuration.getRouteName('update'), configuration.vars.route.parameters|default({ 'id': resource.id })), 'attr': {'class': 'bannerForm ui loadable form', 'novalidate': 'novalidate'}}) }}
    <input type="hidden" name="_method" value="PUT" />
    {% if configuration.vars.templates.form is defined %}
        {% include configuration.vars.templates.form %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}

    {{ sonata_block_render_event(event_prefix ~ '.form', {'resource': resource, 'form': form}) }}

    {# changes for banners #}
    {% if configuration.vars.index_route is defined %}
        {% set index_route = path(configuration.vars.index_route.name, configuration.vars.index_route.params) %}
    {% else %}
        {% set index_route = path(configuration.vars.index_route.name, configuration.vars.index_route.params) %}
    {% endif %}

    {% include '@SyliusUi/Form/Buttons/_update.html.twig' with {'paths': {'cancel': index_route }} %}
    {# end of changes #}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
