<div class="ui segment">
    {{ form_start(form, {'action': path(configuration.vars.route.name|default(configuration.getRouteName('create')), configuration.vars.route.parameters|default({})), 'attr': {'class': 'bannerForm ui loadable form', 'novalidate': 'novalidate'}}) }}
    {% if configuration.vars.templates.form is defined %}
        {% include configuration.vars.templates.form %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}

    {{ sonata_block_render_event(event_prefix ~ '.form', {'resource': resource, 'form': form}) }}

    {% if configuration.vars.index_route is defined %}
        {% set index_route = path(configuration.vars.index_route.name, configuration.vars.index_route.params) %}
    {% else %}
        {% set index_route = path(configuration.getRouteName('index'), configuration.vars.route.parameters|default({})) %}
    {% endif %}

    {% include '@SyliusUi/Form/Buttons/_create.html.twig' with {'paths': {'cancel': index_route }} %}

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
