{% if data %}
    {% set path = data.path|imagine_filter(
        'sylius_small',
        {'thumbnail': {'mode': 'inset'}})
    %}
    <img src="{{ asset(path) }}" alt="image" class="ui bordered image" />
{% endif %}
