{% block _banner_position_type_entry_widget %}
    {{ form_widget(form) }}

    {% set currentType = form.vars.value %}
    {% for type, config in form.parent.vars.types_config %}
        {% if type == currentType %}
            <img src="{{ app.request.getSchemeAndHttpHost ~ '/' ~ config.example_image }}" alt="" style="max-height: 200px; margin-top: 10px;">
        {% endif %}
    {% endfor %}
{% endblock %}
